<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean class="com.Poonam.springcore.Student" name="student1">

		<property name="studentId" value="1212" />
		<property name="studentName" value="Poornima" />
		<property name="studentAddress" value="Delhi" />
	</bean>
	<!-- Second Bean -->
	<bean class="com.Poonam.springcore.Student" name="student2">

		<property name="studentId" value="1213" />
		<property name="studentName" value="Poornima Bagchandani" />
		<property name="studentAddress" value="Delhi Cannought palace" />
	</bean>
	
</beans>